body {
    margin: 0;
}

svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    min-width: 50px;
    max-width: 600px;
    width: 80%;
    min-height: 50px;
    max-height: 600px;
    height: 80%;
}

#michaell_hair {
    animation: michaell_hair 2s ease-in-out infinite;
}

#michaell_shoulder {
    animation: michaell_shoulder 3s ease-in-out infinite;
}

#michaell_arm {
    animation: michaell_arm 3s ease-in-out infinite;
}

#paola_hair {
    animation: paola_hair 5s ease-in-out infinite;
}

#paola_iris_left, #paola_iris_left_gradient {
    animation: paola_iris_left 10s ease-in-out infinite;
}

#paola_iris_right, #paola_iris_right_gradient {
    animation: paola_iris_right 10s ease-in-out infinite;
}

#paola_mouth {
    animation: paola_mouth 10s ease-in-out infinite;
}

@keyframes michaell_hair {
    50% {
        d: path("M373.449 229.77C373.449 229.77 368.5 261.346 382 280.24C386 267.5 390.5 268 397.616 261.346C397.633 265.798 407.5 272.5 409.65 285.77C414 280.24 416.749 272.5 416.749 258.324C420.536 282.51 428.339 288.047 423 298.895C425.9 298.69 436.739 295.03 439.604 283.926C439.843 286.604 436.5 297 447 308.5C447.017 300.535 453.002 282.939 453.668 287.356C454.333 291.774 455.902 295.087 453.889 301.5C460.115 298.191 463.106 290.378 466.793 280.24C458.498 306.968 458.919 331.618 453.889 336C451.5 344 450 356.5 451.5 367.5C453.069 367.431 465.466 364.563 472.323 352.129C472.562 359.242 479.5 362 472.323 375C483.5 375 493 364 496.251 350.916C497.377 354.259 507 356.5 515.5 367.5C518 360.5 512.449 351.442 511.767 346.104C516.884 348.116 519 362 541 362C528 348.916 539 343.5 537.078 337.313C539.091 338.882 558.224 340.878 557.115 337.313C556.007 333.748 550 330.5 543.973 319.154C550.972 327 560.219 327.5 570.479 323.5C555.733 319.154 560.219 315 557.115 306.046C560.015 307.172 573 301.5 583 293C572.5 287.356 563.119 296.761 560.219 271.467C564.671 270.597 565.096 273.744 575.5 283.926C570.479 275 580.696 266.015 570.479 255.355C574.709 253.82 577.5 251 580.5 238C574 243.5 567.88 249.078 559.88 230.879C565.884 226.905 565.31 223.465 580.5 229.77C575.331 220.465 572.276 209.272 550.972 209.92C557.641 207.72 568.175 193 585.669 201C578.5 183.465 558.177 180.822 537.76 183.465C546.425 174.17 554.198 184.038 555.733 168.5C552.646 181.378 544.395 174.883 537.06 182.405C537.06 172.5 543.973 152 514 130.5C519.5 151 513.319 146.846 512.876 159.041C504.5 130 485.5 146.5 485.5 108C476 108 465 122 459.88 132.313C454.133 126.344 442.195 118.413 430 121.5C431.774 123.035 444.008 128.018 445.134 136.239C434.322 119 410.391 121.124 403.5 104.477C402.187 106.046 393.49 121.483 398.129 132.774C376.86 125.475 354.112 154.916 321.5 134.5C320.187 138.287 318.314 151.185 326.057 161.589C320.531 167.815 297.522 180.175 299.5 201C303.287 195.474 320.019 185.5 328.083 183.005C312.5 183.465 303.5 233.54 273 229.77C288 242.27 313.255 246 320.019 236.122C312.719 246.782 312.5 264.5 303 272.5C312.5 276 354.823 230.214 373.449 229.77Z");
    }
}

@keyframes michaell_shoulder {
    50% {
        d: path("M546.788 476.487C546.788 476.487 568.115 503.013 546.344 579.397C521.344 600.897 487 623.5 455.344 635.397C442.807 627.064 424.02 619.727 397.5 607.5C403.404 576.873 445.392 514.076 464.5 501C493.892 477.076 537.194 461.727 546.788 476.487Z");
    }
}

@keyframes michaell_arm {
    50% {
        d: path("M378 656.5C378 656.5 429.5 650 455 635.5C480.5 621 578.679 524.93 532.184 486.922C485.69 448.915 392.022 634.729 378 656.5Z");
    }
}

@keyframes paola_hair {
    50% {
        d: path("M209.035 178.385C209.035 178.385 107.516 182.33 87.1852 295.55C74.8427 365.497 85 501.788 70.5 537C115.5 599 187 632 229 643.9C223.918 577.215 157.989 493.12 153.5 390.5C152.049 290.152 204.442 238.105 235.729 247.006C267.016 255.907 276.902 325.653 273.382 472C272.612 443.855 294.676 270.156 239 248.111C254.94 254.449 286.925 279.243 289.5 352.5C289.5 428 253.099 501.186 244.302 529.93C235.506 558.675 231.477 627.922 258.738 651.005C266.198 649.006 258.738 586.5 273.382 556.212C270.61 571.044 292.748 651.27 297.5 657.56C312 659.06 341 660 360 657.65C372.41 608.126 330.384 565.098 324.079 505.259C323.617 458.045 316.533 358.915 331.186 302.829C336.335 268.817 299.463 183.665 209.035 178.385Z");
    }
}

@keyframes paola_iris_left {
    50% {
        d: path("M191.253 375.693C196.915 375.693 201.505 369.718 201.505 362.347C201.505 354.976 196.915 349 191.253 349C185.59 349 181 354.976 181 362.347C181 369.718 185.59 375.693 191.253 375.693Z");
    }
}

@keyframes paola_iris_right {
    50% {
        d: path("M251.253 371.693C256.915 371.693 261.505 365.718 261.505 358.347C261.505 350.975 256.915 345 251.253 345C245.59 345 241 350.975 241 358.347C241 365.718 245.59 371.693 251.253 371.693Z");
    }
}

@keyframes paola_mouth {
    50% {
        d: path("M213 410.5C213.523 413.371 216.217 421.485 226.162 420.926C236.106 420.366 236.096 413.291 237.5 410.5C236 407.5 237.512 419.011 226.02 419.542C214.528 420.073 212.477 407.629 213 410.5Z");
    }
}